<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_lr3"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LR1"
        tools:targetApi="31">

        <!-- ЛР1 -->
        <activity
            android:name=".LR1Activity"
            android:exported="true"
            android:label="Лабораторна 1" />

        <!-- ЛР2 -->
        <activity
            android:name="com.example.lr2.LR2Activity"
            android:exported="true"
            android:label="Лабораторна 2" />

        <!-- ЛР3 — єдина, яка запускається з іконки -->
        <activity
            android:name="com.example.lr3.LR3Activity"
            android:exported="true"
            android:label="Лабораторна 3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.lr4.LR4Activity"
            android:exported="true"
            android:label="Лабораторна 4" />

        <activity
            android:name="com.example.lr5.LR5Activity"
            android:exported="true"
            android:label="Лабораторна 5" />

    </application>
</manifest>
